<!-- <%= link_to "user", users_show_path %>
<%= link_to "timeline", users_timeline_path %>
<h1>Post1</h1> -->

<%= link_to 'New Post', new_post_path %>

<div class="row">
<% @posts.each do |post| %>



      <div class="col s12 m6 l4">
        <div class="card small">
          <div class="card-image">
            <%= image_tag post.image.url(:thumb) %>
            <span class="card-title"><%= post.title %></span>
          </div>
          <div class="card-content">
            <%= post.description %>
          </div>
          <div class="card-action">
            <%= link_to 'Show', post %>
          </div>
        </div>
      </div>








<% end %>
</div>
