<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>Download:</strong>
  <%= @post.download %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br>
<%= link_to "upvote", like_post_path(@post), method: :put %>
<%= link_to "downvote", dislike_post_path(@post), method: :put %> <br>
<%= @post.get_upvotes.size %>
<div id="comment">

<% @comments.each do |comment| %>

  User: <%= comment.user.email %> <br>
  Comment: <%= comment.content %>
  <hr>
<% end %>
</div>

<%=  render("comments/form") %>
